.img-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /*MIN is 250px, 1fr is to make them all the same size as max*/
    grid-gap: 10px;
    grid-auto-rows: auto;
    justify-items: center;
    align-items: center;
}

.img-grid img{
    width: 100%;
    height:auto;
    max-width: 100%;
    object-fit: cover;
}

