@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body, html{
    font-family: 'Playfair Display', serif;
    margin: 0px;
    height: 100%;
    padding: 0px;
}

a{
    text-decoration: none;
}

h1{
    color: red;
}

.parallax-bg{
    background-image: url("https://images.unsplash.com/photo-1482062364825-616fd23b8fc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");

    height: 100%;
    width: 100%;
    min-height: 500px;
    min-width: auto;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

   padding-top: 10%;
    padding-bottom: 10%;
}

.sidePicture{
    background-image: url("https://images.unsplash.com/photo-1482062364825-616fd23b8fc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    min-height: 100px;
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.iconBar{
    text-align: center;
}
.iconBar a{
    color:black;
}
.iconBar a:hover{
    color:maroon;
}
.iconBar a + a{
    padding-left: 3em;
}

.contactInfo{
    display:inline-block;
}

.icon{
    position:relative;
}

.footerShadow{
    height: 20%;
    background-color: blue;
    top: 0;
    position: sticky;
}
.footerMain{
    background-color: #f4f4f4;

    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;

    height: 15%;
    
    padding-top: 3%;
    text-align: center;
}

.sideText{
    writing-mode: tb-rl;
    color: red;
    font-weight: bold;
}

#sideTextContainer{

}

.mainArea{
    /*margin: 10%;*/
    padding-left: 3%;
}

.redLine {
    border-right: 6px solid red;
    height: 100%;
  }

.left-border{
    border-left: 6px solid red;
    height: 100%;
}

.rightArea{
      
  }
.linksArea{
    /*float: left;*/
    padding: 0;
    text-align: right;
}
.linksList{
    list-style-type: none;
    padding: 0;
}

.linksList a{
    color: red;
    text-decoration: underline;
}
.linksList li :hover{
    color: crimson;
    font-weight: bold;
}

.skill-list{
    padding-top: 30px;
}
.skill-list p{
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    color: red;
}

.img-content{
    padding-top: 70px;
    padding-bottom: 70px;
}

/*.aboutMeSection{
    background-color: red;
    color: white;
    padding-bottom: 60px;
}*/
.noSidePad{
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.aboutArea{
    padding: 13%;
    background-color: red;
}

.testimonialsSection{
    padding-top: 60px;
}



/*MEDIA SCREEN SIZES*/
@media only screen and (max-width: 768px) {
    .sideText{
        visibility: hidden;
    }

}
@media only screen and (max-width: 600px) {
    .iconBar{
        display: inline-flex;
        font-size: 5px;
    }
}