@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body{
    font-family: 'Playfair Display', serif;
    margin-top: 60px;
    margin-bottom: 60px;
}

a{
    text-decoration: none;
}

h1{
    color: red;
}

.outterContainer{
    padding-top: 3%;
    padding-bottom: 3%;
}

.welcome{
    
}

.iconBar{
    text-align: center;
}
.iconBar a{
    color:black;
}
.iconBar a:hover{
    color:maroon;
}
.iconBar a + a{
    padding-left: 3em;
}

.contactInfo{
    display:inline-block;
}

.icon{
    position:relative;
}

.footerShadow{
    height: 20%;
    background-color: blue;
    top: 0;
    position: sticky;
}
.footerMain{
    background-color: #f4f4f4;

    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;

    height: 15%;
    
    padding-top: 3%;
    text-align: center;
}

.sideText{
    writing-mode: tb-rl;
    color: red;
    font-weight: bold;
}

#sideTextContainer{

}

.mainArea{
    /*margin: 10%;*/
    padding-left: 3%;
}

.redLine {
    border-right: 6px solid red;
    height: 100%;
  }

.left-border{
    border-left: 6px solid red;
    height: 100%;
}

.rightArea{
      
  }
.linksArea{
    /*float: left;*/
    padding: 0;
    text-align: right;
}
.linksList{
    list-style-type: none;
    padding: 0;
}

.linksList a{
    color: red;
    text-decoration: underline;
}
.linksList li :hover{
    color: crimson;
    font-weight: bold;
}

.img-content{
    padding-top: 70px;
    padding-bottom: 70px;
}

.aboutMeSection{
    background-color: red;
    color: white;
    padding-bottom: 60px;
}

.testimonialsSection{
    padding-top: 60px;
}



/*MEDIA SCREEN SIZES*/
@media only screen and (max-width: 768px) {
    .sideText{
        visibility: hidden;
    }

}
@media only screen and (max-width: 600px) {
    .iconBar{
        display: inline-flex;
        font-size: 5px;

    }
    
}