@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body{
    font-family: 'Playfair Display', serif;
}

.headText{
    font-size: 12vw;
    padding-bottom: 0;
    line-height: 53.7%;
}
.frontText{
    color: #bfbfbf;
}
.backText{
    color: #353535;
}

h2{
    color: lightgray;
}

.footerMain{
    background-color: aquamarine;

    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;

    height: 15%;
    
    padding-top: 3%;
    text-align: center;
}