.small-img{
    position: relative;
    text-align:center;
}

.small-img img{
    opacity: 1;
    transition: opacity .9s ease-out;
    -moz-transition: opacity .9s ease-out;
    -webkit-transition: opacity .9s ease-out;
    -o-transition: opacity .9s ease-out;
}

/* how to get them all in one?? */
.small-img:hover img{
    opacity: .3;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
}




.small-img:hover .project-tags {
    visibility: visible;
    opacity: 1;
    transition: .5s ease;
}

.project-tags{
    position: absolute;
    color: #bf1a49;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
